@model ETicket.ApplicationServices.DTOs.TicketTypeDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPersonal" class="control-label"></label>
                <input asp-for="IsPersonal" class="form-control" />
                <span asp-validation-for="IsPersonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationHours" class="control-label"></label>
                <input asp-for="DurationHours" class="form-control" />
                <span asp-validation-for="DurationHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coefficient" class="control-label"></label>
                <input asp-for="Coefficient" class="form-control" />
                <span asp-validation-for="Coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>