
@model ETicketAdmin.Models.IdentityModels.RegisterModel
@{
    Layout = null;
}

<head>
    <mea charset="UTF-8">
        <title>CSS design form</title>
        <link rel="stylesheet" href="~/fontawesome-free-5.12.0-web/">
        <link rel="stylesheet" href="~/style.css" type="text/css">
</head>
<h2>Registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>



