@model ETicket.ApplicationServices.DTOs.RouteDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/slimselect.min.css" rel="stylesheet">

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <label asp-for="FirstStationName" class="control-label"></label>
                <select asp-for="FirstStationId" class="form-control" asp-items="ViewBag.StationId"></select>
                <span asp-validation-for="FirstStationId" class="text-danger"></span>
            </div>

            <select id="stations-for-the-route" multiple>
                <option data-placeholder="true"></option>
            </select>

            <div id="station-hidden-items">
                @Html.Hidden("StationsIds", null, new { @Id = "HStationsIds" })
            </div>

            <div class="form-group">
                <label asp-for="LastStationName" class="control-label"></label>
                <select asp-for="LastStationId" class="form-control" asp-items="ViewBag.StationId"></select>
                <span asp-validation-for="LastStationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/slimselect.min.js"></script>
<script src="~/js/routeSlimSelect/create-slim-select.js"></script>

<script>  
    var actionUrl = '/station/GetStationList';
    $.getJSON(actionUrl, function (response) {
        if (response != null) {
            for (let i = 0; i < response.length; i++) {
                stationList.push({ value: response[i].Id, text: response[i].Name })
            }
        }

        slimSelectStationForTheRoute.setData(stationList);
    });
</script>