@{
    Layout = null;
}

<!-- horizontalBar Chart -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Passengers by hours by routes</h6>
        Date: <input type="date" id="passengers-by-hours-by-routes-date" class="form-control form-control-sm">
        Routes:
        <select id="routes-for-passengers-by-hours-by-routes" multiple>
            <option data-placeholder="true"></option>
        </select>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="passengers-by-hours-by-routes"></canvas>
        </div>
        <hr>
        <span id="passengers-by-hours-by-routes-error" class="text-danger"></span>
    </div>
</div>

<script src="~/js/chart/chart-passengers-by-hours-by-routes.js"></script>