@{
    Layout = null;
}

<!-- Passengers by time -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Passenger by time</h6>
        From: <input type="date" id="passengers-by-time-start" class="form-control form-control-sm">
        To: <input type="date" id="passengers-by-time-end" class="form-control form-control-sm">
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="passengers-by-time"></canvas>
        </div>
        <hr>
        <span id="passengers-by-time-error" class="text-danger"></span>
    </div>
</div>

<script src="~/js/chart/chart-area-passengers-by-time.js"></script>
