@{
    Layout = null;
}

<!-- Donut Chart -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Passengers by privilege</h6>
        From: <input type="date" id="passengers-by-privilege-start" class="form-control form-control-sm">
        To: <input type="date" id="passengers-by-privilege-end" class="form-control form-control-sm">
        Routes:
        <select id="routes-for-passengers-by-privilege" multiple>
            <option data-placeholder="true"></option>
        </select>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-pie">
            <canvas id="passengers-by-privilege"></canvas>
        </div>
        <hr>
        <span id="passengers-by-privilege-error" class="text-danger"></span>
    </div>
</div>

<script src="~/js/chart/chart-pie-passengers-by-privileges.js"></script>