@model ETicket.ApplicationServices.DTOs.TicketDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketTypeId" class="control-label">Ticket type</label>
                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActivatedUTCDate" class="control-label"></label>
                <input asp-for="ActivatedUTCDate" class="form-control" />
                <span asp-validation-for="ActivatedUTCDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Areas</label>
                    </div>
                    @Html.ListBoxFor(m => m.SelectedAreaIds, (MultiSelectList)ViewBag.AreaId, new { @class = "custom-select", @id = "inputGroupSelect01", size = 5 })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.UserId, "", new { @class = "form-control" })
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistoryId" class="control-label">Transaction Reference Number</label>
                <select asp-for="TransactionHistoryId" class="form-control" asp-items="ViewBag.TransactionHistoryId"></select>
                <span asp-validation-for="TransactionHistoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Tickets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
